Define the terms language range and the matching approach

[note from @sandhawke ]

> 4.  In general, SHACL allows one to validate values for certain
> properties as being text tagged with certain language tags, using
> sh:languageIn (section 4.4.4).    The actual matching algorithm is
> specified to be the same as in SPARQL, which is important, since SHACL
> implementations are often implemented using SPARQL engines. (IE, we're
> not really at liberty to change the algorithm, if it turned out there
> were a reason for doing so.)  This seems like a useful feature in
> support of practical i18n.


[reply from @fsasaki ]
doing the same as SPARQ 1.1 is OK. Stil, SHACL should define the terms language range and the matching approach. One could in section 4.4.4 *nearly* copy the text from the SPARQL 1.1 spec. See a suggestion below.
„ language-range are deployed via the basic filtering scheme defined in [RFC4647] section 3.3.1. language-range is a basic language range per Matching of Language Tags [RFC4647] section 2.1. A language-range of "*" matches any non-empty language-tag string.“

I could add this, yet this feels rather redundant given that we already have a hyperlink to the definition of langMatches in SPARQL 1.1. Copying that text over may only cause errors to sneak in. In other places where we depend on other technologies we also do not pull up their definitions. In the suggested text, I frankly don't understand the consequences, e.g. what does "deploy" mean?

How do other WG members think about this?

I'm not seeing the advantage of the copying, either.     @fsasaki can you explain what that helps with?


You have not defined in shacl the term "language range". I also don't see a statement saying "we use the term language range as it is used in sparql 1.1".  If you don't want to copy the text from sparql 1.1, then having at least a pointer at the first mention of "language range" in shacl to the sparql 1.1. spec would be helpful. 

Ok, cross-reference added as suggested.

That's not quite going to do it: BCP47 (RFC4647) defines several types of language range. SPARQL has selected one of these (the `basic language range`). You could add the word "basic" to the current text to fully address the problem. Note: it is usually better to reference BCP47 than the RFC.

Ok thanks for clarifying this, I hope it's specified better now.

Closed as decided in https://www.w3.org/2017/03/22-shapes-minutes.html#item03